div.article-container {
  max-width: 100%;
}

pre,
code {
  color: black
}

.hljs-doctag,
.hljs-string {
  color: black
}

.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: black;
}

.hljs-title,
.hljs-literal,
.hljs-number,
.hljs-tag .hljs-attr,
.hljs-template-variable,
.hljs-variable {
  color: black;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: white;
  background: white;
}

code[class^='hljs'] {
  white-space: normal;
}

code[class='hljs yaml'] {
  white-space: pre-wrap;
}

code[class='hljs css'] {
  white-space: pre-wrap
}

code[class='hljs json'] {
  white-space: pre-wrap;
}

code[class^='language-python'] {
  background-color: rgb(0, 0, 0)
}

.dark code[class^='language-python'] {
  background-color: rgb(0, 0, 0)
}

.hljs-class .hljs-title {
  color: black
}

.hljs-keyword {
  color: black
}

code[class="hljs coffeescript"] {
  white-space: pre-wrap
}

.hljs-comment,
.hljs-quote {
  color: #2f00ff;
  font-style: italic;
}

code:not([class^='language-python']) {
  font-style: italic;
}

.hljs-keyword {
  color: white;
}

.hljs-doctag,
.hljs-string {
  color: white;
}

.hljs-title,
.hljs-literal,
.hljs-number,
.hljs-tag .hljs-attr,
.hljs-template-variable,
.hljs-variable {
  color: white;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #fff;
  font-weight: 700;
}

.hljs-comment,
.hljs-quote {
  color: #1fff00;
  font-style: italic;
}

.hljs-attribute,
.hljs-name,
.hljs-tag {
  color: white;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: white;
  background: #0900ff;
}

.hljs-class .hljs-title {
  color: white;
}

.dark pre,
.dark code {
  color: #ffffff;
  background-color: #000000;
}

.hljs-function .hljs-keyword {
  color: #ffffff;
}

.dark p code {
  font-style: normal;
  font-family: "Roboto Mono", monospace;
  background-color: #170044;
}

.dark .hljs {
  display: block;
  overflow-x: auto;
  padding: .5em;
  color: white;
  background: #5000ff;
}

p code {
  color: white;
  background-color: #305074;
  font-style: normal !important;
  font-family: "Roboto Mono", monospace;
}

.hljs-type {
  color: white;
  font-weight: normal;
}

.hljs-built_in {
  color: white;
}

.hljs-comment,
.hljs-quote {
  color: white;
  font-style: italic;
}

code[class='hljs apache'] {
  white-space: pre;
}

.hljs-bullet,
.hljs-symbol {
  color: white;
}

.hljs-meta {
  color: white;
  font-weight: normal;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #fff;
  font-weight: normal;
}